
#category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-items: center;
  /* width: 80vw; */
  margin: 0vw; 
}

.river-card {
  margin-top: 30px; 
  margin-bottom: 10px; 
  margin-left: 1.5px; 
  margin-right: 1.5px;
}

.leaflet-container {
  height: 400px;
  width: 400px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 100px;
  background-color: blue;
  display: flex;
  justify-items: center;
  justify-content: center;
}

