
#category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-items: center;
  /* width: 80vw; */
  margin: 0vw; 
}

.river-card {
  margin-top: 30px; 
  margin-bottom: 10px; 
  margin-left: 1.5px; 
  margin-right: 1.5px;
}

.leaflet-container {
  height: 400px;
  width: 400px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  color: #494a4f;
  height: 130px;
  background-color: #db913d;
  display: flex;
  justify-items: center;
  justify-content: center;
}

header h1 {
  font-size: 50px;
  /* font-family: 'Fjalla One', sans-serif; */
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Concert One', cursive;
  /* font-family: 'Paytone One', sans-serif; */
  /* font-family: 'Titan One', cursive; */
}

body {
  background-image: url('https://www.publicdomainpictures.net/pictures/50000/nahled/running-water-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100%;
}

