body {
  /* background-image: url('https://www.publicdomainpictures.net/pictures/50000/nahled/running-water-background.jpg'); */
  background-image: url('https://pre00.deviantart.net/51bc/th/pre/i/2011/122/e/6/dark_water_by_mp1331-d3fez8g.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100%;
}

.category-div {
  display: flex;
  justify-content: center;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-items: center;
  width: 80vw;
  color: #494a4f !important;

}

.river-card {
  margin-top: 30px; 
  margin-bottom: 10px; 
  margin-left: 1.5px; 
  margin-right: 1.5px;
  font-family: 'Arvo', serif; 
}

.leaflet-container {
  height: 600px;
  width: 600px;
}

.map-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}

header {
  color: #494a4f;
  height: 130px;
  background-color: #db913d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-buffer {
  height: 20px;
  background-color: white;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
}

header h1 {
  font-size: 50px;
  font-family: 'Concert One', cursive;
}

.arvo-font {
  font-family: 'Arvo', serif !important;
}

.card-button {
  font-family: 'Arvo', serif !important;
  background-color: #db913d !important;
  font-size: 18px !important;
  color: #494a4f !important;
}

.nav-button {
  font-family: 'Arvo', serif !important;
  background-color: #db913d !important;
  font-size: 20px !important;

}

.run-date {
  font-size: 30px !important;
  font-family: 'Arvo', serif !important;

}

.run-info {
  font-size: 20px !important;
  margin-top: 5px;
  font-family: 'Arvo', serif !important;

}

.run-description {
  font-size: 18px;
  font-family: 'Arvo', serif !important;
}

.map-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Arvo', serif !important;
  height: 30px;
  background-color: white;
  color: #494a4f !important;
}

.checkbox-div {
  display: flex;
  flex-direction: column;
}

.details-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 18px;
  font-family: 'Arvo', serif
}

.details-div a {
  margin-top: 5px;
}

.run-date {
  margin-bottom: 10px !important;
}


.attending-paragraph {
  font-family: 'Arvo', serif;
  font-size: 18px;
}

.header {
  font-size: 22px !important;
  font-family: 'Arvo', serif !important;
}

.rsvp-div {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

